<!DOCTYPE html>
<html>
  <head>
    <title>Home|Ruby on Rails Tutorial Sample Application</title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
      このページは
      <a href="https://railstutorial.jp/">Ruby on Rails チュートリアル</a>
      のサンプルアプリケーションです。
    </p>
  </body>
</html>